.content-01 , .content-02, .content-03 {
      display: flex;
      justify-content: space-around;
}

.box{
      border: 2px solid green;
      width: 60px;
      height: 60px;
}

.content-1 , .content-2 , .content-3, .content-4,.content-5,.content-6 , .content-7, .content-8,.content-9 , .content-10 , .content-11, .content-12,.content-13,.content-14, .content-15{
      height: 300px;
      width: 300px;
      border: 2px solid rebeccapurple;
      font-weight: 700;
      font-size: 20px;
      
}


.content-1{
      display: flex;
      justify-content: flex-start;
}

.content-2{
      display: flex;
      justify-content: center;
}

.content-3{
      display: flex;
      justify-content: flex-end;
}

.content-4{
      display: flex;
      justify-content: space-around;
}

.content-5{
      display: flex;
      justify-content: space-between;
}


.content-6{
      display: flex;
      justify-content: space-evenly;
}

.content-7{
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
}

.content-8{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.content-9{
      display: flex;
      justify-content: space-evenly;
      align-items: end;
}

.content-10{
      display: flex;
      justify-content: center;
      align-items: center;
}

.content-11{
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      flex-direction: column;
}

.content-12{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column-reverse;
}

.content-13{
      display: flex;
      justify-content: space-evenly;
      align-items: end;
      flex-direction: row;
}

.content-14{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
}

.content-15{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
}

/*  */
          
.section{
      border: 1px solid red;
}
.form-type-container{
      height: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.form-type{
      border: 1px solid rebeccapurple;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

}

.form-type h2{
      font-weight: 700;
      font-size: 80px;
}

#input01{
      font-size: 40px;
      padding: 10px;
      margin-top: 20px;
      
}

.button01{
      border: 0px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #498bf6 ;
      
}

